*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Poppins',sans-serif;

background:#f1f5f9;

color:#111;

transition:.5s;

}

.hero{

background:
linear-gradient(
rgba(0,0,0,.7),
rgba(0,0,0,.7)
),

url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?q=80&w=1400");

background-size:cover;

background-position:center;

padding:40px;

color:white;

}

nav{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:50px;

}

.hero-texto{

text-align:center;

}

.hero-texto h2{

font-size:45px;

margin-bottom:10px;

}

.hero-texto p{

margin-bottom:20px;

}

input{

width:300px;

padding:15px;

border:none;

border-radius:50px;

font-size:16px;

outline:none;

}

button{

padding:14px 25px;

border:none;

border-radius:50px;

cursor:pointer;

font-weight:bold;

}

.catalogo{

padding:30px;

display:grid;

grid-template-columns:1fr;

gap:25px;

}

.card{

background:white;

border-radius:20px;

overflow:hidden;

box-shadow:
0 8px 20px rgba(0,0,0,.15);

transition:.4s;

}

.card:hover{

transform:
translateY(-10px);

}

.card img{

width:100%;

height:250px;

object-fit:cover;

}

.info{

padding:20px;

}

.info h3{

margin-bottom:10px;

}

#mensaje{

display:none;

text-align:center;

font-size:30px;

padding:30px;

font-weight:bold;

}



/* oscuro */

body.dark{

background:#0f172a;

color:white;

}

body.dark .card{

background:#1e293b;

color:white;

}

body.dark button{

background:#111827;

color:white;

}

body.dark input{

background:#334155;

color:white;

}



/* tablet */

@media(min-width:600px){

.catalogo{

grid-template-columns:
repeat(2,1fr);

}

}

/* pc */

@media(min-width:1024px){

.catalogo{

grid-template-columns:
repeat(4,1fr);

}

}